---
# Only the main Sass file needs front matter (the dashes are enough)
---

$linkColor: hsl(73,66%,30%);

body {
	background-image: url('/images/ricepaper_v3.png');
	margin-right: auto;
	margin-left: auto;
	width: 600px;
	font-family: 'Lato', sans-serif;
	font-size: large;
}

code {
//	font-family: 'Source Sans Pro', ;
//	font-family: 'Droid Sans Mono', ;
	font-family: 'Inconsolata', ;
	font-size: medium;
}



a {
	color: $linkColor;
	text-decoration: none;
}

pre {
	overflow-x: auto;
}

h1 {
	font-size: xx-large;
}

h2 {
	font-size: x-large;
}

// need this for synrax highlighting
%vertical-rhythm {
    margin-bottom: 15px;
}

@import "syntax-highlighting";